@import "tailwindcss";
@import "tw-animate-css";
/* @import "shadcn/tailwind.css"; */

@theme {
  --color-brand-orange: #FF5623;
  --color-brand-orange-soft: #F4E4DA;
  --color-brand-dark: #2B2B2B;
  --color-brand-ring: #FE8864;
  --color-surface-muted: #F0F0F0;
  --color-border-dashed: #E4E4E4;
  --color-icon-bg: #F3F3F3;
  --font-bricolage: "Bricolage", sans-serif;
}

.bg-app-canvas {
  background: linear-gradient(135deg, #FCFCFC 0%, #B0AEAE 100%);
}
@font-face {
  font-family: "Bricolage";
  src: url("/fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf") format("truetype-variations");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}